torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
timm==0.9.12
facenet-pytorch==2.5.3
albumentations>=1.4.0
opencv-python-headless>=4.9.0.80
captum==0.7.0
shap==0.43.0
scikit-learn>=1.6.0
wandb>=0.16.0
matplotlib
seaborn
tqdm
numpy>=2.0.0
Pillow
retinaface-pytorch
protobuf>=5.29.1
flask>=3.0.0
